html{
    height: 100%;
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --cor-primaria: #1b357e;
    --cor-secundaria: #1351d8;
}

header {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2; 
}
  
.menu ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

li a{
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 25px;
    transition: 0.7s;
}

a:hover{
    color: var(--cor-secundaria);
    text-decoration: underline;
}

#logo{
    height: 50px;
    position: absolute;
    inset: 0;
}

h2{
    text-align: center;
    padding: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 16px; 
    max-width: 400px;
    margin: 0 auto; 
    padding: 20px;
}

form{
    padding: 90px;
}

input{
    border-radius: 5px;
    padding: 10px 18px;
    border: 1px solid var(--cor-primaria);
}

input::placeholder{
    color: rgb(204, 16, 16);
}

select{
    padding: 10px 18px;
    color: rgb(204, 16, 16);
    border-radius: 5px;
    border: 1px solid var(--cor-primaria);
}


#btt{
   display: flex;
   justify-content: center;
   padding: 30px;
}

button{
    background: var(--cor-secundaria);
    border: none;
    border-radius: 10px;
    padding: 15px 45px;
    font-size: 20px;
    color: #fffffff0;
    cursor: pointer;
}

button:hover{
    background: var(--cor-primaria);
    transition: 0.5s;
}
  
footer{
    display: flex;
    justify-content: space-between;
    display: flex;
    padding: 20px;
}

.ajuste-redes{
    display: flex;
    align-items: center;
}

strong{
    color: #f2f2f2;
}

footer{
    background: var(--cor-primaria);
}
